{{define "navbar"}}
<nav class="navbar">
    <div ><a href="/" class="logo">Forum</a></div>
    {{ if .IsLoggedIn }}
    <div class="user-info" id="userInfo">
        <span class="username" id="usernameDisplay">{{ .Username }}</span>
        <a href="/logout" id="logoutBtn" class="btn-logout">Logout</a>
    </div>
    {{ else }}
    <div class="nav-buttons" id="navButtons">
        <a href="/login" class="btn-login">Sign In</a>
        <a href="/register" class="btn-register">Join Forum</a>
    </div>
    {{ end }}
</nav>
{{end}}