<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <nav class="navbar">
    <div class="logo">✦ Forum</div>
    <div class="nav-buttons" id="navButtons">
        <a href="#loginModal" class="btn-login">Sign In</a>
        <a href="#registerModal" class="btn-register">Join Forum</a>
    </div>
    <div class="user-info" id="userInfo" style="display: none;">
        <span class="username" id="usernameDisplay"></span>
        <a href="#" id="logoutBtn" class="btn-logout">Logout</a>
    </div>
</nav>
</body>
</html>